### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [ ]:
x=int(input("enter 1st number"))
y=int(input("enter 2ec number"))
sum=x+y
print("summation =",sum)

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
x=int(input("enter a number"))
if x%2==0:
  print("number is even")
else:
  print("number is odd")

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [ ]:
for i in range(0,20,2):
 if i%2==0:
  print("",i)

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [ ]:
x=(input("enter a word"))
i="AaEeIiOoUu"
count=0
for char in x:
  if char in i:
    count+=1
print("number of vowels",count)

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [ ]:
x=list(range(1,11,1))
for num in x:
 power=num**2
 print("",power)

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [ ]:
name=input("enter yor name")
supject=input("enter subject seperated buy spaces").split(" ")
scores=list(map(int,input("enter your scores seperated by spaces").split(" ")))
subjects_num=len(supject)
score_sum=sum(scores)
average=score_sum/subjects_num
if average>70:
 print("congratulations")
else:
    print("you can do better")

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [8]:
x=list(map(int,input("Enter a list of numbers separated by commas").split(",")))
y=list(map(int,input("Enter another list of numbers separated by commas").split(",")))
set1=set(x)
set2=set(y)

common= set1 & set2
common_list = list(common)

print("",common_list)

Enter a list of numbers separated by commas1,2,3,4,5
Enter another list of numbers separated by commas4,8,9,7,5
 [4, 5]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [16]:
x=list(map(int,input("Enter a list of numbers seperated by comas").split(",")))

element_remove=5
if element_remove in x:
 x.remove(element_remove)
 print("element",element_remove,"is removed")
else:
  print("number not found")

Enter a list of numbers seperated by comas1,2,3,4,8,7
number not found

### 9- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [21]:
A=list(map(int,input("enter a list if numbers seperated with comas").split(",")))
x=int(input("enter a number to allocate"))

if x in A:
 location=A.index(x)
 print("position of",x,"=",location)
else:
  print("number is not in the list")

enter a list if numbers seperated with comas1,2,3,4,5,6
enter a number to allocate5
position of 5 = 4

### 10- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [4]:
x=list(map(int,input("enter a list of numbers seperated by comas").split(",")))
sorted_x=sorted(x)
min_x=min(x)
occurrence=sorted_x.count(min_x)
if occurrence %2==0:
  print("the array is lucky")
else:
  print("the array is not lucky")

enter a list of numbers seperated by comas1,5,7,1,5,1
the array is not lucky

### 11-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [7]:
x=list(map(int, input("enter a list if numbers seperated by comas").split(",")))
min_x=min(x)
max_x=max(x)

index_min=x.index(min_x)
index_max=x.index(max_x)

x[index_min] , x[index_max] = x[index_max] , x[index_min]

print("updated list:",x)

enter a list if numbers seperated by comas4,8,3,7,9,50,14,6
updated list: [4, 8, 50, 7, 9, 3, 14, 6]

### 12-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [30]:
x=list(map(int,input("enter a list of numbers seperated by comas").split(",")))
small_value=min(x)
small_pos=x.index(small_value)
print("position of the lowest number=",small_pos)

enter a list of numbers seperated by comas8,9,6,7,4,2

TypeError: 'int' object is not callable

### 13-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [8]:
x=list(map(int,input("enter a list of numbers seperated by comas").split(",")))
sorted_x=sorted(x)
print("",sorted_x)

enter a list of numbers seperated by comas2,7,3,4,9,53,4
 [2, 3, 4, 4, 7, 9, 53]

### 14- Write a Python program to remove spaces from a given string

In [12]:
  x=input("enter a string")
  x_new=x.replace(" ","")
  print("",x_new)

enter a stringhello worled
 helloworled

### 17-write a Python program to swap first and last element of any list.

In [16]:
x=list(map(int, input("enter a list of numbers seperated by comas").split(",")))

x[0],x[-1] = x[-1],x[0]

print("",x)

enter a list of numbers seperated by comas1,2,3,4,5,6
 [6, 2, 3, 4, 5, 1]

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**

In [20]:
a=int(input("enter first number"))
b=int(input("enter second number"))

if b==0:
 result= a

else:
  a, b = b, a%b
  if b==0:
   result= a
print("HCF=",result)

#I realy tried I just cant understand the mathematics behind this process

enter first number60
enter second number36

NameError: name 'result' is not defined